//Truth CYR
@font-face {
  font-family: "Golos Text";
  src: url(../fonts/GolosText-Regular.woff),
    url(../fonts/GolosText-Regular.woff2);
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Golos Text";
  src: url(../fonts/GolosText-Medium.woff),
    url(../fonts/GolosText-Medium.woff2);
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url(../fonts/Inter_18pt-Regular.woff),
    url(../fonts/Inter_18pt-Regular.woff2);
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}