* {
  box-sizing: border-box;
}
html,
body {
  font-weight: 400;
  font-size: 16px;
  background: #f9f6f0;
  // font-family: "Inter", serif;
  font-family: "Golos Text", sans-serif;
  font-weight: 400;
  font-size: 18px;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
	-webkit-appearance:none;
}
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main {
  flex: 1 0 auto;
}
.footer {
  flex: 0 0 auto;
}
.container-1920{
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
}
.container {
  max-width: 1920px;
  width: 100%;
  padding: 0 75px;
  margin: 0 auto;
  position: relative;
  @media (max-width:1200px){
    padding: 0 38px;
  }
  @media (max-width: 995px){
    padding: 0 35px;
  }
  @media (max-width: 550px){
    padding: 0 19px;
  }
}
.d-none{
  display: none;
}
.ov-hidden{
  overflow: hidden;
}
.popup-overlay {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
  z-index: 99;
  overflow: hidden;
  &::-webkit-scrollbar {
    display: none;
  }
  &::-webkit-scrollbar-thumb {
    display: none;
  }
}
.popup {
  display: none;
  opacity: 0;
  position: absolute;
  top: 0;
  height: 100dvh;
  background: #f9f6f0;
  max-width: 513px;
  width: 100%;
  z-index: 999;
  padding: 15px;
}

.popup-overlay--visible {
  opacity: 1;
  visibility: visible;
  transition: all 0.3s ease-in-out;
  background: rgba(0, 0, 0, 0.3);
}

.popup--visible {
  display: block;
  opacity: 1;
}
